/*
// ConsoleApplication2.cpp: определяет точку входа для консольного приложения.
//
//2глава 1 программа
#include "stdafx.h"
#include <iostream>
using namespace std;

int main()
{
	cout << "Andrey";
	cout << "\n";
	cout << "gf";
	system("pause");
    return 0;
}
*/

//2 глава 2 программа
#include "stdafx.h"
#include <iostream>
int main()
{
	using namespace std;
	int farlong;
	int x;
	farlong = 220;
	cout << "Enter the distance in furlongs and convert it to yards:";
	cout << endl;
	cin >> x;
	system ("cls");
	cout << x << " farlong=" << farlong * x << " yard";
	cin.get();
	cin.get();
	return 0;

}
/*
//2 глава 4 программа
#include "stdafx.h"
#include <iostream>
using namespace std;

int main()
{
	double cels, fahr;
	cout << "Please enter a celsius value:  ";
	cin >> cels;
	cout << cels;
	cout << cels << "degreees Celsius is" << (cels * 1.8 + 32.0) << "degrees Fahrenheit\n";
	return 0;
}

//2 глава 3 программа
#include "stdafx.h"
#include <iostream>
using namespace std;
void first_second()
{
	cout << "See how they tun\n";
}
int main()
{
	first_second();
	first_second();
	three_four();
	return 0;
}

//глава 3 1
#include "stdafx.h"
#include <iostream>
using namespace std;
const double d = 2.54;
const double f = 30.48;
int main()
{
	int ent;
	cout << "please enter here :_";
	cin >> ent;
	cout << "your height is" << "d.or" << ent / f << "f." << endl;
	return 0;
	

}

//глава 3 программа 2
#include "stdafx.h"
#include <iostream>
using namespace std;
const double d = 0.0254;
const double f = 12;
const double pb = 2.2;
int main();
{
	double ftheight, dheight, mass;
	cout << "pleaseenter your height (ft) here :";
	cin >> ftheight;
	cout<< "pleaseenter your height (d) here :";
	cin >> dheight;
	cout << "pleaseenter your mass (pb) here  ";
	cin >> mass;
	mass = mass / pd;
	ftheight = ftheight * f;
	dheight = (dheight + ftheight) * d;
	cout << BMI << endl;
	return 0;

}

// глава 3 3
#include "stdafx.h"
#include <iostream>
using namespace std;



int main()
{
	double km, l;
	cout << "km:";
	cin >> km;
	cout << "l:";
	cin >> l;
	cout << " result:" << l / (km / 100) << endl;

	return 0;
}
#include "stdafx.h"
#include <iostream>
using namespace std;
int main()
{
	double cels, fahr;
	cout << "Please enter a celsius value: ";
	cin >> cels;
	cout << cels << "degrees Celsius is " << (cels * 1.8 + 32.0) << "degrees Fahrenheit\n";
	return 0;
}
*/
